@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

@font-face {font-family: "Avenir Light";
	src: url("../fonts/116af611cbcd9e4bada60b4e700430c1.woff2") format("woff2"),
	url("../fonts/116af611cbcd9e4bada60b4e700430c1.woff") format("woff"),
	url("../fonts/116af611cbcd9e4bada60b4e700430c1.ttf") format("truetype"),
	url("https://db.onlinewebfonts.com/t/116af611cbcd9e4bada60b4e700430c1.svg#Avenir Light") format("svg");
}

$default-font: 16px;
$default-pc-font: .98vw;
$default-mobile-font: 5vw;
$pc-point: 1919px;
$mobile-point: 980px;


@function emSize ($size) {
	@return calc($size / 16) + em;
}

@mixin centerAll {
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%,-50%) +' '+ translate3d(0, 0, 0);
	transform: translate(-50%,-50%) +' '+ translate3d(0, 0, 0);
}

@mixin centerX {
	left: 50%;
	-ms-transform: translateX(-50%) +' '+ translate3d(0, 0, 0);
	transform: translateX(-50%) +' '+ translate3d(0, 0, 0);
}

@mixin centerY {
	top: 50%;
	-ms-transform: translateY(-50%) +' '+ translate3d(0, 0, 0);
	transform: translateY(-50%) +' '+ translate3d(0, 0, 0);
}

@mixin bg-image($img,$posX,$posY,$size){
	background: url($img) no-repeat $posX $posY / $size;
}

@mixin transform($function) {
        -ms-transform: $function + ' ' + translate3d(0, 0, 0);
            transform: $function + ' ' + translate3d(0, 0, 0);
}	

@mixin will-change($parameter){
	will-change: $parameter;
}